.loginForm {
    margin:0;
    padding:0;
}
.loginForm li {
    list-style-type: none;
    padding:0.5em;
    display: flex;
}

.loginForm li input {
    padding:0.5em;
    border-radius: 4px;
    border:1px solid #ccc;
    width: 100%;
    transition: box-shadow 0.3s ease-in-out;
}

.loginForm li input:focus {
    outline: none;
    box-shadow: 0px 0px 3px 0px #666;
    transition: box-shadow 0.3s ease-in-out;
}