.loginContainer {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background-color: #DDD;
    flex-direction: column;
    justify-content: space-between;
    /* background-image: url('../../assets/images/bgPic.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

header {
    /* background-color: seagreen; */
    color: white;
    display: flex;
    flex-basis: 5%;
}

header div {
    flex-basis: 50%;
    display: flex;
    padding: 0.5em;
    background-color: seagreen;
}

header div ul {
    margin:0;
    padding:0;
    display: flex;
}

header div ul li {
    list-style-type: none;
    display: inline-flex;
    position: relative;
}

header div ul li i {
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: rgba(0,0,0,0.25);
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

header div ul li i:active {
    color: #333 !important;
}

header h3 {
    margin:0;
    font-weight: normal;
}

.caseForm {
    display: flex;
    align-items: center;
    /* position: absolute; */
    padding: 0.5em;
    /* right: 100%; */
    z-index: 0;
    background-color: rgba(0,0,0,0.25);
}

.caseForm input[type="text"] {
    padding: 0.25em 0.5em;
    border:none;
    text-overflow: ellipsis;
}

.caseForm input[type="text"]:focus {
    outline: none;
}

.active {
    background-color: #333 !important;
    color: #fff !important;
}

.menuDiv {
    justify-content: flex-end;
    padding:0 !important;
}

.bodyContainer {
    flex-basis: 95%;
    display: flex;
}

.menuBar {
    /* height: 100%; */
    background-color: black;
    padding: 0.5em;
    display: flex;
    flex-basis: 15%;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    overflow-y: auto;
}

.menuBar div {
    /* flex-basis: 15%; */
    display: flex;
    width: 100%;
    flex-direction: column;
    /* border-radius: 4px; */
    /* border: 1px solid #ccc; */
    overflow: auto;
    margin-bottom: 0.5em;
}

.menuBar div h4 {
    font-weight: normal;
    margin: 0;
    padding: 0.5em;
    color: #fff;
    background-color: #33414e;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}

.menuBar div ul {
    margin:0;
    padding:0;
    position: relative;
    color: #33414e;
    flex-basis: 100%;
    background-color: #ddd;
    display: none;
}

.menuBar ul li {
    list-style-type: none;
    display: flex;
    white-space: nowrap;
    position: relative;
}

.menuBar ul li:hover {
    background-color: #333;
    color: #e4e4e4;
}

.menuBar ul li i {
    padding:0.5em;
    cursor: pointer;
    flex-basis: 15%;
    width: 15%;
    /* font-size: 1.25em; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuBar ul li label {
    transition: all 0.3s ease-in-out;
    display: flex;
    padding: 0.5em 0em;
    font-size: 13px;
    cursor: pointer;
    flex-basis: 85%;
    justify-content: flex-start;
    align-items: center;
}

.content {
    flex-basis: 94%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    transition: all 0.3s ease-in-out;
}

.content p {
    margin:0;
}

.btnContainer {
    width: 100%;
    flex-basis: 8%;
    display: flex;
    justify-content: space-between;
}

.btnContainer button {
    margin:0 !important;
}

.loginForm {
    margin:0;
    padding:0;
}

.loginForm li {
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

.loginForm li small {
    position: absolute;
    left:0.5em;
}

.loginForm li input {
    padding:0.5em;
    flex-basis: 100%;
    margin:0 0.5em;
} 

.formContainer {
    width: 100%;
    flex-basis: 92%;
    height: 92%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1em 0;
    border-radius: 4px;
}

.formContainer form {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.formContainer form h4 {
    margin:0.5em 0;
    padding:0;
}

.formBtn {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-basis: 10%;
    position: relative;
}

.formBtn:before {
    position: absolute;
    top:0;
    left:0;
    right:0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.separator {
    background-color: #ccc;
    height: 1px;
    border:none;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: gainsboro;
}

.header button {
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: indianred;
    color: white;
    padding: 0.5em;
    line-height: 0.75em;
    box-shadow: 0px 2px 1px 0px #666;
    cursor: pointer;
}

.header button:focus {
    outline: none;
}

.header button:active {
    transform: translateY(2px);
    box-shadow: 0 0 0 0;
}

.headerContainer {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5em;
    overflow: auto;
    box-shadow: 0px 0px 4px 0px #666;
}

.header h4 {
    margin: 0 !important;
    padding:0;
}

.formarrayContainer {
    flex-basis: 90%;
    overflow-y: auto;
    margin-bottom: 0.5em;
}

/* Sample Form */
.userForm ul {
    margin:0;
    padding:0;
}

.userForm ul li {
    list-style-type: none;
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: #ccc;
}

.userForm ul li p {
    margin:0;
    padding:0;
}

.greenText {
    color: green !important;
    text-transform: uppercase;
    font-weight: bold;
}

.button {
    padding:0.5em;
    background-color: dodgerblue;
    color: white;
    border-radius: 4px;
    border:none;
}

.button:disabled {
    background-color: #c8c8c8;
    color: #ddd;
    cursor: not-allowed;
}

.toggleClass {
    display: block !important;
}